body { background: #b2abab; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 59px; display: flex; }
.block-helper-0 { color: #868af1; font-size: 19px; margin-bottom: 5px; }
.block-session-1 { color: #418adb; font-size: 13px; margin-bottom: 5px; }
.block-notify-2 { color: #5c46d4; font-size: 19px; margin-bottom: 5px; }
.block-invoice-3 { color: #28997; font-size: 17px; margin-bottom: 5px; }
.block-product-4 { color: #bf792b; font-size: 13px; margin-bottom: 5px; }
.block-helper-5 { color: #6873db; font-size: 21px; margin-bottom: 5px; }